In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_breast_cancer
import calendar

%matplotlib inline

In [3]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [4]:
dataset = pd.read_csv('dataset.csv', sep=',')
dataset.head()

,age,default,balance,housing,loan,day,month,campaign,pdays,previous,...,marital_divorced,marital_married,marital_single,education_primary,education_secondary,education_tertiary,education_unknown,contact_cellular,contact_telephone,contact_unknown
0,58,0,2143,1,0,5,5,1,-1,0,...,0,1,0,0,0,1,0,0,0,1
1,44,0,29,1,0,5,5,1,-1,0,...,0,0,1,0,1,0,0,0,0,1
2,33,0,2,1,1,5,5,1,-1,0,...,0,1,0,0,1,0,0,0,0,1
3,47,0,1506,1,0,5,5,1,-1,0,...,0,1,0,0,0,0,1,0,0,1
4,33,0,1,0,0,5,5,1,-1,0,...,0,0,1,0,0,0,1,0,0,1

In [5]:
X = dataset.drop('aceitaram',axis=1)
y = dataset['aceitaram']
X_train, X_test, y_train, y_test = train_test_split(X.values,y,test_size=0.33,random_state=42)

In [12]:
from sklearn.ensemble import GradientBoostingClassifier

In [46]:
clf2 = GradientBoostingClassifier(n_estimators=200, learning_rate=1.0,
                                  max_depth=1, random_state=0).fit(X_train, y_train)

In [47]:
y_predict2 = clf2.predict(X_test)

In [48]:
print(classification_report(y_test, y_predict2,target_names=['Recusaram','Aceitaram']))

             precision    recall  f1-score   support

  Recusaram       0.89      0.99      0.94     13134
  Aceitaram       0.57      0.13      0.22      1786

avg / total       0.85      0.88      0.85     14920

In [39]:
clf2.score(X_test,y_test)

0.8841152815013404